@import '../../style/themes/index';
@time-axis-prefix-cls: ~'@{gantt-prefix}-time-axis';

.@{time-axis-prefix-cls} {
  &-today {
    background-color: #d90909;
    border-radius: 50%;
    color: #fff;
  }
}

.@{gantt-prefix}-today_line {
  width: 1px;
  background: #d90909;
  margin-left: 15px;
}
